<nav class = "navbar navbar-expand-sm navbar-dark bg-dark">
	<a class = "navbar-brand" href = "/">Game Marketplace</a>

	<button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarSupportedContent"
					aria-controls = "navbarSupportedContent" aria-expanded = "false" aria-label = "Toggle navigation">
		<span class = "navbar-toggler-icon"></span>
	</button>

	<div class = "collapse navbar-collapse" id = "navbarSupportedContent">
		<ul class = "ml-auto navbar-nav">
			<li class = "nav-item">
				<a class = "nav-link" href = '/game/new'>Upload new game</a>
			</li>
		</ul>
	</div>
</nav>