<!doctype html>
<html lang = 'en'>
	<head>
		<meta charset = 'UTF-8'>
		<title>Game Marketplace</title>
	</head>
	<body>
		<header>
			<a href='/game/new'>Upload new game</a>
		</header>
		{{{ body }}}
	</body>
</html>