<h1>Edit game</h1>

<form action = '/game/<%= game.id %>/edit' method = 'post'>

    <%- include('../partials/formFields') %>

    <%- include('../partials/errorMessage') %>

    <a href = '/game/<%= game.id %>'>Cancel</a>

    <button type = 'submit'>Save</button>

</form>