<h2 class = 'my-4'>
	Create game
</h2>

<form action = '/game/new' method = 'post' enctype='multipart/form-data'>

	<%- include('../partials/formFields', {includeUpload: true}) %>

	<%- include('../partials/errorMessage') %>

	<div class = 'text-right mb-4'>
		<a class = 'btn btn-outline-danger' href = '/'>Cancel</a>
		<button class = 'btn btn-dark' type = 'submit'>Create</button>
	</div>

</form>